@use "@/app/globals.module" as globals;

.hero {
  display: flex;
  color: globals.$text-color;
  font: 100% globals.$font-stack;
  flex-direction: column;
  margin: 10;
  .heroTitle {
    margin-top: 50px;
    .text {
      @media (min-width: globals.$desktop-screen) {
        font-size: 50vh;
        text-transform: uppercase;
      }
      @media (min-width: globals.$mobile-screen) {
        font-size: 21vh;
      }
    }
    .introduce {
      display: flex;
      justify-content: space-between;
      .name {
        font-size: 50px;
      }
      .p {
        text-wrap: pretty;
        width: 500px;
        margin: 10;
        font-size: 21px;
      }
    }
  }
}
