@use "@/app/globals.module" as globals;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: globals.$text-color;
  margin: 8;
  .heroTitle {
    margin-top: 50px;
    .text {
      @media (min-width: globals.$desktop-screen) {
        font-size: 52vh;
        text-transform: uppercase;
        font-family: globals.$font-highlight;
        font-weight: 400;
      }
      @media (min-width: globals.$mobile-screen) {
        font-size: 21vh;
      }
    }
    .introduce {
      display: flex;
      justify-content: space-between;
      .name {
        font-family: globals.$font-text;
        font-size: 60px;
      }
      .p {
        color: globals.$accent-color;
        text-wrap: pretty;
        width: 500px;
        margin: 10;
        font-size: 24px;
        font-family: globals.$font-text;
      }
    }
  }
  .scrollInfo {
    position: absolute;
    bottom: 8;
    margin-bottom: 10px;
    .layout {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
    }
  }
}
