@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

$font-text: "Rubik", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
$font-highlight: "Bungee", cursive;

$background-color: #272727;
$text-color: #eff7ff;
$primary-color: #ff8ebd;
$secondary-color: #878f96;
$accent-color: #fcfffa;

$radius-sm: 8px;
$radius-md: 14px;
$radius-lg: 24px;

$space-0: 0;
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 24px;
$space-6: 32px;


$bp-desktop: 992px;
$bp-tablet: 768px;
$bp-mobile: 480px;
$bp-mobile-sm: 320px;

$h1-text : 2.5rem;
$h2-text : 2rem;
$h3-text : 1.75rem;
$h4-text : 1.5rem;
$h5-text : 1.25rem;
$h6-text : 1rem;

@mixin respond-min($bp){
  @media (min-width: $bp) {
    @content;
  }
}

html {
  cursor: none;
  pointer-events: auto;
}
body {
  overflow: hidden;
  background-color: $background-color;
}
