@use "@/app/globals.module" as globals;

.nav {
  @media (min-width: globals.$desktop-screen) {
    width: 100%;
    display: flex;
    position: fixed;
    top: calc(var(--spacing) * 0);
    border-radius: 14px;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }

  // @media (min-width: globals.$mobile-screen) {
  //   display: flex;
  //   justify-content: center;
  // }
  .navLink {
    display: flex;
  }
  .navbtn {
    display: flex;
    font: 100% globals.$font-text;
    color: globals.$text-color;
    mix-blend-mode: difference;
    border-color: transparent;
    background: transparent;
    padding: 0;
    margin-left: 10;
    margin-right: 10;
  }
}
