@use "@/app/globals.module" as globals;

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: globals.$primary-color;
  pointer-events: none;
  cursor: none;
}
